ul {
  list-style-type: none;
}
body,
html {
  font-family: Verdana, sans-serif;
  margin: 0px;
  height: auto !important;
  height: 100%;
  min-height: 100%;
}

/* Month header */
.month {
  padding: 70px 25px;
  background: #1abc9c;
  text-align: center;
  display: block;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 0px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 0px 0;
  background: white;
  margin: 0px;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 1px;
  font-size: 12px;
  color: #777;
}

/* Highlight the "current" day */
.days li .weekend {
  padding: 5px;
  margin: 0px;
  text-align: center;
  background: #1abc9c;
}

.days li .off {
  margin: 0px, 0px, 0px;
  padding: 5px;
  background: #d3d3d3;
}
.days li .weekend-off {
  background: #419584;
  padding: 5px;
  text-align: center;
}

.dark {
  background: #393939;
}
.dark html {
  background: #393939;
}
.dark .month {
  background: #393939;
  color: white;
}
.dark .month ul {
  color: white;
}
.dark .days  {
  background: #393939;
  color: white;
}
.dark  .weekdays {
  background: #393939;
}
.dark li .weekend{
   background: #007862;

}
.dark li .weekend-off{
    background: #00604e;
}
.dark li .off{
    background: #878787;
}

.dark li {
  background: #393939;
  color: white;
}
#calendar-app {
  margin: 0px;
  height: auto !important;
  height: 100%;
  min-height: 100%;
}
.theme-switch {
  margin-top: 12px;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  float: right;
}

.theme-switch .checkmark {
  padding: 8px;
  border: 1px solid #f2f2f2;
}

.theme-switch input {
  display: none;
}

.theme-switch:hover input ~ .checkmark {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
}

.theme-switch input:checked ~ .checkmark {
  background-color: #2196f3;
  border: 1px solid #2196f3;
  color: white;
}
.today {
    background: #E67373;
    padding-top:5px;
    padding-bottom: 5px;
  color: white;
  }
.dark .today{
    background: #E67373;
    padding-top:5px;
    padding-bottom: 5px;
  color: white;
}